.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;



}

.website-name {
    margin-top: 2%;
    margin-left: 2%;

}

.website-name h1 {
    color: white;

}

.website-name span {
    color: red;
}

.website-name p {
    color: white;
    margin-left: 5%;
    font-weight: bold;
}

.headerlinks {
    margin-left: 25%;
    margin-top: 2%;
    font-size: larger;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

.headerlinks a {
    color: white;
    margin-left: 15%;
    text-decoration: none;
    /* border: 2px solid blue; */
    border-radius: 5px;
}

.headerlinks a:hover {
    color: rgba(255, 54, 54, 0.88);
}

/* responsive design */



@media only screen and (max-width: 576px) {

    .header-container {
        display: inline-block;
        /* justify-content: center;
        align-items: center;
        justify-content: flex-start; */


    }

    .headerlinks a {
        display: inline-block;
    }
}

@media only screen and (min-width: 768px) {

    .header-container {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: flex-start;


    }
}